extends layout

block content
    h1= title
    
    // Wrapper
    #wrapper

        // USER LIST
        #userList
            h2 Product List
            table
                thead
                    th Title
                    th Type
                tbody
        // /USER LIST

        // USER INFO
        #userInfo
            h2(align="center") Product Info
            p(align="justify")
                strong Subtype:
                |  <span id='userInfoSubtype'></span>
                br
                br
                strong Publisher:
                |  <span id='userInfoPub'></span>
                br
                br
                strong Price:
                |  <span id='userInfoPrice'></span>
                br
                br
                strong Language:
                |  <span id='userInfoLang'></span>
                br
                br
                strong Author:
                |  <span id='userInfoAuthor'></span>
                br
                br 
                strong Isbn:
                |  <span id='userInfoIsbn'></span>
        // /USER INFO

    // /WRAPPER