extends layout

block content
    input(type="text", id="searchQuery")
    button(onclick="search();") Search
    h1= title
    
    // Wrapper
    #wrapper

        // USER LIST
        #userList
            h2 Product List
            table
                thead
                    th Item
                    th Type
                    th Subtype
                tbody
        // /USER LIST

    // /WRAPPER